/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
body{
    background-color: rgba(0, 0, 0, 0.9);
}
div#app{
    color: white;
}

input{
    margin: 10px;
}
[v-cloak] {
    display: none;
  }
/* HEADER */
header h1{
    text-transform: uppercase;
    padding: 15px;
    text-align: center;
}
/* MAIN */
.input{
    text-align: center;
}
.lista{
    width: 80%;
    margin: 30px auto;
    border: 1px solid white;
    border-radius: 15px;
}
main li{
    list-style: none;
    padding: 15px;
    border-bottom:1px solid white;
}
main li:last-child{
    border-bottom: none;
}

main h3{
    padding: 15px;
    text-align: center;
}
