<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Email List</title>
    <!-- AXIOS JS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- /AXIOS JS -->
    <!-- MY CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- /MY CSS -->
</head>

<body>
    <div id="app">
        <header>
            <h1>Generatore casuale d'email</h1>
        </header>
        <main v-cloak>
            <div class="input">
                <label for="input-number">Inserisci email da generare(10-100):</label>
                <input v-model="numberEmail" @keyup.enter="randomEmail()" type="number" id="input-number" name="input-number" min="10" max="100" />
                <input @click="randomEmail()" type="button" value="Genera">
            </div>
            <div class="lista">
                <ul v-if="emails.length === numberEmail" >
                    <li v-for="(email,i) in emails">{{i + 1}} {{email}}</li>
                </ul>
                <div v-else>
                    <h3>Caricamento</h3>
                </div>
            </div>


        </main>
    </div>
    <!-- VUE JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- /VUE JS -->
    <!-- MY JS -->
    <script src="js/main.js"></script>
    <!-- /MY JS -->
</body>

</html>